body{
    margin: 0;
}

h1{
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px darkgrey ;
}
.deco{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;  
    border-radius: 5px;
    transition: 0.2s;
    float: right;
    margin-right: 10px;
}
.deco:hover{
    background-color: rgb(78, 78, 78);
}

.navig{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;  
    border-radius: 5px;
    transition: 0.2s;
    float: left;
    margin-left: 10px;
}
.navig:hover{
    background-color: rgb(78, 78, 78);
}



.action{
    color: white;
    text-decoration: none;
    padding: 5px;
    background: black;
    border-radius: 5px;
    transition: 0.2s;
    box-shadow: 1px 1px 7px black;
}

.action:hover{
    background: rgb(184, 183, 183);
    color: black;
}

.header{
    height: 150px;
    background: black;
}

#detail{
    width: 30px;
}

table{
    width: 100%;
    border-collapse: collapse ;

}

td{
    text-align: center;
}

.table{
    border: 5px black solid;

}

.ajout{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 2px;  
    background: rgb(0, 0, 0); 
    border-radius: 5px;
    transition: 0.2s;
}


